<%- include("../partials/header") %> 
<%- include("../partials/navbar") %> 


<main class="container">

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="display-6">New Product</h1>
            <form action="/products" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Product Name">
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Image Url</label>
                    <input class="form-control" type="text" name="img" id="img" placeholder="Image Url">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">&#x20B9</span>
                        <input type="text" name="price" id="price" class="form-control" placeholder="Price"  aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <textarea class="form-control" name="desc" id="desc"rows="5"></textarea>
                </div>

                <button type="submit" class="btn btn-success btn-small">Submit</button>
            </form>

        </div>
    </div>
</main>
    <footer class="footer-distributed">

        <div class="footer-left">
      <img src="img/logo.png">
            <h3>Lorem<span>Ipsum</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">Blog</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">© abc</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                  <p><span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam alias architecto similique sed aperiam quidem recusandae incidunt iste! Eius aliquam pariatur aut repellat architecto quos nemo, ipsa ex hic repellendus!</span>
                    abc, def - 400710</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 xxxxxxxxx</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@eduonix.com">abc@def.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam doloremque dignissimos dicta voluptatem rem, inventore sit et officiis totam odit quis aliquam ut non. Voluptas voluptates autem atque soluta perferendis.</p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>






<%- include("../partials/footer") %> 